<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://L0690.tt.com.pl:3306/klub
        </property>
        <property name="hibernate.connection.username">
            sqluser
        </property>
        <property name="hibernate.connection.password">
            sqluserpw
        </property>

        <!-- List of XML mapping files -->
        <mapping class="com.mycompany.model.Budynek"/>
        <mapping class="com.mycompany.model.BudynekAdministracyjny"/>
        <mapping class="com.mycompany.model.CzlonekSztabu"/>
        <mapping class="com.mycompany.model.CzlonekZarzadu"/>
        <mapping class="com.mycompany.model.Druzyna"/>
        <mapping class="com.mycompany.model.DruzynaStatystyki"/>
        <mapping class="com.mycompany.model.DruzynaStatystykiPK"/>
        <mapping class="com.mycompany.model.Klub"/>
        <mapping class="com.mycompany.model.Liga"/>
        <mapping class="com.mycompany.model.ObiektTreningowy"/>
        <mapping class="com.mycompany.model.Sekcja"/>
        <mapping class="com.mycompany.model.Sezon"/>
        <mapping class="com.mycompany.model.Stadion"/>
        <mapping class="com.mycompany.model.Zawodnik"/>
        <mapping class="com.mycompany.model.ZawodnikStatystyki"/>
        <mapping class="com.mycompany.model.ZawodnikStatystykiPK"/>
        
    </session-factory>
</hibernate-configuration>