<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Sections</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 align="center">Sections</h1>
                    <p align="center"><img src="https://cdn1.iconfinder.com/data/icons/dream-icons-2/160/cup-128.png"/></p>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <div align="center"> <a th:href="@{/club/__${Club}__/sections/create}">Add new section<span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span> </a> </div>
                    </div>
                    <div th:unless="${#lists.isEmpty(sectionList)}">

                        <div class='floating-box-building'  th:each="section : ${sectionList}" >

                            <label th:text="'Section:'"/>
                            <br/>
                            <label th:text="'Discipline: '+${section.dyscyplina}"/>
                            <br/>
                            <label th:text="'Sex: '+${section.plec}"/>
                            <br/>
                            <a th:href="@{/club/__${Club}__/sections/}">
                               Show teams
                            </a>
                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                <a th:href="@{/club/__${Club}__/sections/edit/__${section.idSekcja}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                <a th:href="@{/club/__${Club}__/sections/remove/__${section.idSekcja}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a> 
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>