<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Create success</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <div class="alert alert-success">
                        <strong>Success!</strong> Club created successfully!
                    </div>
                    <br /> <a href="#"
                              th:href="@{/club/__${club.idKlub}__}"
                              th:text="Show created club">Link</a>
                </div>
            </div>
        </div>
    </body>
</html>